body{
    background-color: hwb(0 97% 3%);
}
/* header.jsx */
nav{
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 9vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo{
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bold;
    color: rgb(59,226,17);
}
.logo>p{
    background: linear-gradient(90deg, rgba(59,226,17,1) 0%, rgba(90,198,31,1) 50%, rgba(74,136,81,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttons{
    margin-right: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.navigation{
    list-style-type: none;
    color: #A4A3A3;
    font-weight: lighter;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
div.buttons{
    display: flex;
    width: max-content;
    padding: 2px 5px;
    width: max-content;
    justify-content: center;
    border: 1px solid #A4A3A3;
    border-radius: 10px;
}
div>p{
    padding: 0 10px;
}

.auth-button{
    background: rgb(59,226,17);
    background: linear-gradient(90deg, rgba(59,226,17,1) 0%, rgba(90,198,31,1) 50%, rgba(74,136,81,1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
}
.logout{
    padding: 0 1em;
    display: grid;
    place-items: center;
}

.link{
    cursor: pointer
}
/* footer.jsx */
footer{
    display: flex;
    background: #252525;
    min-height: 10vh;
}
svg{
    height: 40px;
}
footer>a{
    display: block;
    margin: 10px auto;
}
.social-btn{
    background: inherit;
    border: none;
    display: block;
    padding: 0;
}

/* content.jsx */
main{
    box-sizing: border-box;
    min-height: 76.3vh;
}

#greetings{
    border: 1px solid #A4A3A3;
    margin: 30px 10px;
    padding: 2rem 1rem;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(73,172,118,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#todo-list{
    background-color: white;
    margin: 30px 10px;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#todo-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#add-todo{
    background: #19ba2c00;
    border: none;
    padding: 10px 2rem;
    border-radius: 8px;
    color: white;
}

#add-todo:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#todo-list>p{
    padding: 0;
    color: #A4A3A3;
    font-size: 0.9rem;
}

/* todo-list item css */

.todo-item{
    display: flex;
    flex-direction: column;
    border: 1px solid #A4A3A3;
    border-radius: 10px;
    margin: 10px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.todo-details{
    display: flex;
    align-items: center;
}

.desc{
    padding: 1rem;
}

.desc>p{
    color: grey;
    font-style: italic;
    font-size: 0.9rem;
}
.create-time{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(104, 92, 92);
}

.title{
    font-weight: bold;
}

.todo-btn{
    background: white;
    border: none;
    padding: 10px 1rem;
    border-radius: 10px;
    color: white;
    margin: 10px 0.5rem;
}
.todo-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* addTask.jsx  */
.add-task-cont{
    background: white;
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    position: fixed;
    top: 25vh;
    left: 25vw;
    z-index: 1;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.329);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
}

.label{
    border-bottom: 1px solid #A4A3A3;
    width: max-content;
    margin: 10px auto;
    padding: 0;
    font-weight: bold;
    color: rgb(5, 126, 59)
}

form{
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.submit{
    border: none;
    border-radius: 8px;
    color: rgb(1, 151, 69);
    background-color: rgb(207, 241, 199);
    display: block;
    margin: 50px auto;
    margin-bottom: 0;
}

.title-input{
    width: max-content;
}


/* Login css */
.auth{
    margin-bottom: 24.3vh;
}
.auth2{
    margin-bottom: 17.9vh;
}
.auth-header{
    background: linear-gradient(90deg, rgba(59,226,17,1) 0%, rgba(90,198,31,1) 50%, rgba(74,136,81,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
    margin: 25vh auto;
    margin-bottom: 10px;
}

.auth-text{
    color: #A4A3A3;
    margin: 10px auto;
    width: max-content;
    font-size: 1.3rem;
}
.auth-alternate{
    color: #36C06B;
}


.auth-submit{
    background: #27A735;
    border: none;
    padding: 10px 1.5rem;
    border-radius: 8px;
    color: white;
}

.auth-entry, .auth-submit{
    width: 30vw;
    min-width: 300px;
    display: block;
    margin: 10px auto;
}

.auth-link{
    color: inherit;
    text-decoration: none;
}

.error-message{
    width: max-content;
    margin: 10px auto;
    padding: 10px;
    background: rgb(255, 194, 194);
    color: rgb(255, 0, 85);
    font-size: 0.8rem;
}

/* profile.jsx */

.profile-tile, .profile-form{
    background-color: white;
    margin: 10px;
    border: 1px solid #A4A3A3;
    padding: 10px 1rem;
    border-radius: 10px;
}
.profile-info{
    margin: 10px 0;
    padding: 0;
    color: #A4A3A3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

.form-submit{
    border: none;
    background-color: #a5ffb0;
    color: rgb(1, 151, 69);
    font-weight: bold;
    padding: 10px 1rem; 
    border-radius: 10px;
    text-transform: capitalize;
}
.form-submit:hover{
    background-color: rgb(1, 151, 69);
    color: #a5ffb0;
}

.form-entry{
    margin: 1rem 0;
}